body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

header {
    text-align: centre;
    padding: 50px;
    background: rgb(9, 243, 126);
    colour: white;
}

.content {
    padding: 20px;
}

footer {
    text-align: centre;
    padding: 20px;
    background: #222;
    colour: white;
    margin-top: 40px;
}
